In [5]:
#Create and Access Elements in a Tuple

my_tuple = (10,20,30,40,50)
print("First element:", my_tuple[0]) 
print("Last element:", my_tuple[-1])

First element: 10
Last element: 50

In [7]:
#Tuple  Addition Operation

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [9]:
#Tuple Repeated Operations

tuple1 = (1, 2, 3)
repeated = tuple1 * 2
print(repeated)

(1, 2, 3, 1, 2, 3)

In [11]:
#Check Membership in a Tuple

my_tuple = ('apple', 'banana', 'cherry')

if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")  
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

In [17]:
#Write a program to print length of the given tuple.?

input_tuple=eval(input())
print(len(input_tuple))

 (1,2,3,4,5,6,7)

7

In [23]:
#Find Maximum, and Minimum

# Tuple operations
numbers = (10, 20, 30, 40, 50)

print("Maximum value:", max(numbers))   
print("Minimum value:", min(numbers))

Maximum value: 50
Minimum value: 10